<div class="container">
    <div class="container-fluid" >
           <div>
                Current Account Information:
                <br>
                    First Name: <%= @getFName %>
                <br>
                    Last Name: <%= @getLName %>
                <br>
                    Email: <%= @getEmail %>
                <br>
                    Street Address: <%= @getStreet %>                
                <br>
                    State: <%= @getState %>        
                <br>
                    City: <%= @getCity %>    
                <br>
                    Zip Code: <%= @getZip %>   
                <br>
            </div>
            <%= link_to 'Update Information', user_path(current_user), :class => "btn btn-sm btn-default" %>
        <div>
            <div>
                Item Name:
            </div>
            <input type="text" name="itemname">
            <div>
                Item Color:
            </div>
            <input type="text" name="itemcolor">
            <div>
                Item Size:
            </div>
            <input type="text" name="itemsize">
            <div>
                Credit Card Exp. Month:
            </div>
            <input type="text" name="CCExpireMonth">
            <div>
                Credit Card Exp. Year:
            </div>
            <input type="text" name="CCExpireYear">
            <div>
                Credit Card CVC:
            </div>
            <input type="text" name="CCCVC">
            <div>
                <br>
                <input type="submit" value="Start Bot">
            </div>
        </div>
    </div>
</div>