<div class="container">
    <div class="container-fluid" >
        <br>
        <h2 class="h2 text-center">Hey, <%= @getFName %>!</h2>
           <br>
           <div class="col-md-6 offset-md-3 profile-box">
               <br>
               <h4 class="h4 text-center">My Info</h2>
               <div class="profile-text">
                   <div class="row">
                    <div class="col-md-6">Name:</div>
                    <div class="col-md-6"><%= @getFName %> <%= @getLName %></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">Email:</div>
                    <div class="col-md-6"><%= @getEmail %></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">Phone Number:</div>
                    <div class="col-md-6"><%= number_to_phone(@getPhoneNum, area_code: true) %></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">Address:</div>
                    <div class="col-md-6"><%= @getStreet %></div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"><%= @getCity %>, <%= @getState %></div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"><%= @getZip %></div>
                </div>
               </div>
               <br>
               <div class="text-center">
                    <%= link_to 'Edit My Profile', edit_user_path(current_user), :class => "btn btn-sm btn-light" %>
                </div>
                <br>
            </div>
            <br>
            
        <div class="col-md-6 offset-md-3 profile-box">
            <div class="row profile-text">
                <div class="col-md-6">
                    <h4 class="h4 text-center">Item Information</h2>
                    <div class="form-group">
                        <input type="text" name="itemname" placeholder="Item Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="itemcolor" placeholder="Item Color" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="itemsize" placeholder="Item Size" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="h4 text-center">Credit Card Details</h2>
                    <div class="form-group">
                        <input type="text" name="CCExpireMonth" placeholder="Exp. Month" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="CCExpireYear" placeholder="Exp. Year" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="CCCVC" placeholder="CVC" class="form-control">
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Start the Bot. Beat the Hype." class="btn btn-primary">
            </div>
            <br>
        </div>
        <br>
    </div>
</div>