<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group col-md-6">
    <%= f.label "First Name" %><br />
    <%= f.text_field :fname, autocomplete: "off", :required => true, id: :user_fname, :class => 'form-control' %>
  </div>
  
  <div class="form-group col-md-6">
    <%= f.label "Last Name" %><br />
    <%= f.text_field :lname, autocomplete: "off", :required => true, id: :user_lname, :class => 'form-control' %>
  </div>
  
  <div class="form-group col-md-6">
    <%= f.label "Email" %><br />
    <%= f.email_field :email, autocomplete: "off", :required => true, id: :user_email, :class => 'form-control' %>
  </div>
  
  <div class="form-group col-md-6">
    <%= f.label "Bio" %><br />
    <%= f.text_field :bio, autocomplete: "off", :required => true, id: :user_bio, :class => 'form-control' %>
  </div>
  
  <div class="form-group col-md-6">
    <%= f.label "Birthday" %><br />
    <%= f.date_field :birth_date, autocomplete: "off", :required => true, id: :user_birth_date, :class => 'form-control' %>
  </div>
  
  <div class="form-group col-md-6">
    <%= f.label "Favorite Class" %><br />
    <%= f.text_field :favorite_class, autocomplete: "off", :required => true, id: :user_favorite_class, :class => 'form-control' %>
  </div>

  <div class="form-group actions">
    <%= f.submit "Create User", :class => "btn btn-primary" %>
  </div>
<% end %>
