<% javascript_include_tag "hide-password" %>
<div class="col-md-12">
  <div class="offset-md-4 col-md-4 container-login">
    <h2 class="h2 text-center">Edit My Profile</h2>
    <br>

    <%= form_for(:user, url: {action: 'update'}, :method => :POST, :html => {:id => 'avatar-form'}) do |f| %>
      
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, :placeholder => "Email", :class => "form-control" %>
      </div>
          
      <div class="form-group form-row">
        <div class="col">
          <%= f.text_field :fname, autocomplete: "fname", :required => true, :placeholder => "First Name", :class => "form-control" %>
        </div>
        <div class="col">
          <%= f.text_field :lname, autocomplete: "lname", :required => true, :placeholder => "Last Name", :class => "form-control" %>
        </div>        
      </div>

      <div class="form-group">
        <%= f.text_field :phone_number, autocomplete: "phone_number", :required => true, :placeholder => "Phone Number", :class => "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.text_field :card_num, autofocus: true, autocomplete: "credit card", :required => true, :maxlength => 16, :placeholder => "Credit Card Number", :class => "form-control" %>
        <small id="credHelp" class="form-text text-muted">We store this data. Securely.</small>
      </div>

      <div class="form-group form-row">
        <div class="col">
          <%= f.text_field :street, :required => true, :placeholder => "Street", :class => "form-control" %>
        </div>
        <div class="col">
          <%= f.text_field :city, :required => true, :placeholder => "City", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col">
          <%= f.text_field :state, :required => true, :placeholder => "State", :class => "form-control" %>
        </div>
        <div class="col">
          <%= f.text_field :zip_code, :required => true, :placeholder => "Zip Code", :class => "form-control" %>
        </div>
      </div>
      
      <div class="actions">
        <%= f.submit "Update My Account", :class => "btn btn-primary btn-block" %>
      </div>
    <% end %>
    
    <div class="text-center">
      <%= link_to 'Back to My Profile', root_path, :class => 'btn btn-light btn-sm' %> 
    </div>
    <hr>
    <div class="text-center">
      <p>Unhappy with your experience?</p>
      <%= button_to "Close My Account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger btn-block" %>
    </div>
  </div>
</div>