<% javascript_include_tag "hide-password" %>
<div class="col-md-12">
  <div class="offset-md-4 col-md-4 container-login">
    <h2 class="h2 text-center">Edit My Profile</h2>
    <br>

    <%= form_for(:user, url: update_user_path, :method => :POST, :html => {:id => 'avatar-form'}) do |f| %>
      
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, :placeholder => "Email", :class => "form-control" %>
      </div>
          
      <div class="form-row">
        <div class="col">
          <%= f.date_field :birth_date, autocomplete: "birthday", :required => true, :placeholder => "Birthday", :class => "form-control" %>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col">
          <%= f.text_field :fname, autocomplete: "fname", :required => true, :placeholder => "First Name", :class => "form-control" %>
        </div>
        <div class="col">
          <%= f.text_field :lname, autocomplete: "lname", :required => true, :placeholder => "Last Name", :class => "form-control" %>
        </div>        
      </div>
      <br>
      
      <div class="form-group">
      </div>
      
      <div class="form-group">
        <button class="btn btn-default btn-sm" type="button" id="passchange" onclick="showHidePass()">Change Password?</button>
      </div>
      
      <div id="passblock" style="display:none" >
        <div class="form-row">
          <div class="col">
            <%= f.password_field :password, autocomplete: "new-password", :placeholder => "New password (Min 6 chars)", :class => "form-control" %>
          </div>
          <div class="col">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Confirm new password", :class => "form-control" %>
          </div>
        </div>
        <br>
      
        <div class="form-group">
          <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => "Please confirm your current password.", :class => "form-control" %>
          <small id="passwordHelp" class="form-text text-muted">We need to confirm this for security reasons.</small>
        </div>
      </div>
      
    
      <div class="actions">
        <%= f.submit "Update My Account", :class => "btn btn-primary btn-block" %>
      </div>
    <% end %>
    
    <div class="text-center">
      <%= link_to 'My Profile', @user, :class => 'btn btn-light btn-sm' %> 
      <%= link_to 'Back', users_path, :class => 'btn btn-light btn-sm' %>
    </div>
    <hr>
    <div class="text-center">
      <p>Unhappy with your experience?</p>
      <%= button_to "Close My Account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger btn-block" %>
    </div>
  </div>
</div>