<div class="col-md-12">
  <div class="container col-md-8 offset-md-2">
    
    <h2 class="h2 text-center">All Users</h2>
    
    <table class="table col-md-10 offset-md-1 text-left">
    
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><strong>Name:</strong> <%= user.fname %> <%= user.lname %></td>
            
            <td><strong>Email:</strong> <%= user.email %></td>
            
            <td>
              <%= link_to 'View Profile', user, :class => "btn btn-sm btn-success" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= link_to 'Logout'.html_safe, destroy_user_session_path, method: :delete, :class => 'btn btn-light btn-sm' %> 
    </div>
  </div>
</div>
