<div class="col-md-12">
    <div class="container col-md-8 offset-md-2">
        <h2 class="h2 text-center"><%= @user.fname %> <%= @user.lname %></h2>
        <br>
        <div>
                <p>Email:</p>
                <p><%= @user.email %></p>
                <p>Phone Number:</p>
                <p><%= @user.phone_number%></p>
                <p>Address:</p>
                <p><%= @user.street %></p>
                <p><%= @user.city%>, <%= @user.state%></p>
                <p><%= @user.zip_code %></p>
        </div>
        <div class="text-center">
            <%= link_to 'Back', root_path, :class => "btn btn-light btn-sm" %> 
            <% if @user.id == current_user.id %>
                <%= link_to 'Edit My Profile', edit_user_path(current_user), :class => "btn btn-sm btn-light" %>
            <% else %>
            <% end %>
        </div>
    </div>
</div>
<p id="notice"><%= notice %></p>


