<div class="col-md-12">
    <div class="container col-md-8 offset-md-2">
        <h2 class="h2 text-center">User Profile Template</h2>
        <table class="table col-md-6">
            <tr>
                <td>Name:</td>
                <td><%= @user.fname %> <%= @user.lname %></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><%= @user.email %></td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td><%= @user.birth_date %></td>
            </tr>
            <tr>
                <td>Favorite Class:</td>
                <td><%= @user.favorite_class %></td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td><%= @user.bio %></td>
            </tr>
        </table>
        <% @getUserComments.each do |comment| %>
        <%= comment.users_id %>
        <% end %>
        <%= form_for Comment.new, url: create_comment_path do |f| %>
            <div class="form-group col-md-6">
            <%= f.label "Sent to" %><br />
            <%= f.text_field :sent_to, autocomplete: "off", :required => true, id: :comment_sent_to, :class => 'form-control' %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
        <%= link_to 'Back', users_path, :class => "btn btn-light btn-sm" %>
    </div>
</div>


<p id="notice"><%= notice %></p>


